
<div class="list-group">
  <a href="https://boards.greenhouse.io/vaulttec" target="_blank" class="list-group-item">
    <h4 class="list-group-item-heading">1. We host your whole job board, all you have to do is link to us!</h4>
    <p class="list-group-item-text">When you click this, we'll open your Greenhouse job board in a new tab.</p>
  </a>
  <a href="/option/2" class="list-group-item">
    <h4 class="list-group-item-heading">2. Easily embed a Greenhouse job board in your site.</h4>
    <p class="list-group-item-text">Just pop in an iframe...</p>
  </a>
  <a href="/option/3" class="list-group-item">
    <h4 class="list-group-item-heading">3. API-driven job board on your site with job applications hosted by Greenhouse</h4>
    <p class="list-group-item-text">Fetch your job board data via the Job Board API.  It's totally up to you how to present your job board.  When a user clicks on a job, they're taken to Greenhouse to fill out the application.</p>
  </a>
  <a href="/option/4" class="list-group-item">
    <h4 class="list-group-item-heading">4. API-driven job board with an application form embedded on your site.</h4>
    <p class="list-group-item-text">Jobs fetched via the API, and the job application is submitted via an iframe on your site.  User never leaves your website.</p>
  </a>
  <a href="/option/5" class="list-group-item">
    <h4 class="list-group-item-heading">5. 100% API-driven!</h4>
    <p class="list-group-item-text">Jobs are fetched via the API and applications are submitted via the API.</p>
  </a>
</div>