
<div class="list-group">
  <a href="https://boards.greenhouse.io/vaulttec" class="list-group-item">Integration Option 1</a>
  <a href="/option/2" class="list-group-item">Integration Option 2</a>
  <a href="/option/3" class="list-group-item">Integration Option 3</a>
  <a href="/option/4" class="list-group-item">Integration Option 4</a>
  <a href="/option/5" class="list-group-item">Integration Option 5</a>
</div>