<div class="row">
<h4>Pull jobs from API w/ on-site submission</h4>
</div>

<br>

<div id="grnhse_app"></div>

<a href="/option/4">Back</a>

<script src="https://boards.greenhouse.io/embed/job_board/js?for=vaulttec"></script>

<script>
	Grnhse.Iframe.load(<%= @job_id %>);
</script>